<html>
    <head>
        <link href={{url_for('static', filename='css/bootswatch.min.css')}} rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">监控</a>
                <a class="navbar-brand" href="/list">管理</a>
            </div>
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>
